@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

#root, body, html{
  background: #f1f1f1;
  color: #212529;
}

.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /*color: white;*/
  color: #212529;
}

.main-container{
  font-family: 'Poppins';
  /*background: #060677;*/
  background: transparent;
  height: 100vh;
  /*color: white;*/
  color: #212529;
  padding-top: 0;
}

.content-container{
  color: #212529;
  background: white;
  padding: 50px;
  border-radius: 40px 40px 0 0;
  min-height: 100vh;
}

.post {
    width: 100%;
    background: white;
    margin-top: 15px;
    margin-bottom: 5px;
    /*padding: 20px;*/
    border-radius: 5px;
    cursor: pointer;
    background-size: cover;
    height: 300px;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}

.postsGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
}

.profile-posts-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  /*box-shadow: inset 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);*/
}

.main-nav {
    display: grid;
    grid-template-columns: 10fr 1fr 10fr 1fr 10fr 1fr 10fr 1fr;
    grid-column-gap: 0px;
    padding-left: 30px;
    padding-right: 40px;
}

.main-nav .nav-link{
  padding-top: 15px;
}

.main-nav .nav-link:hover{
  color: #212529;
  opacity: 1 !important;
  transition: 0.25s ease;
  background: #ffffff75;
}

.nav-link{
  /*color: white;*/
  color:#212529;
  font-size: 1.4em;
  text-align: center;
  border-radius: 40px 40px 0 0;
  font-weight: 700;
  opacity: .3;
  transition: 0.25s ease;
}

.nav-link.active{
  background: white;
  /*color: #060677;*/
  color: #212529;
  opacity: 1;
}

.nav-link.active:hover{
    /*color: #060677;*/
    color: #212529;
    opacity: 1 !important;
    background: white;
}

.topbar{
  text-align: right;
  /*background: #060677;*/
  background: transparent;
  z-index: 100;
  width: 100%;
  /*color: black !important;*/
  /*position: absolute;*/
  font-family: 'Poppins';
  font-size: .9em;
}

.topbar button img{
  padding: 5px;
  margin-right: 5px;
  width: 30px;
}

.topbar button{
  color: #212529;
  margin: 10px;
  border-radius: 5px;
  border: none;
  font-weight: 700;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}

.welcome-msg{
  /*color: white;*/
  /*color: black;*/
  font-size: 110%;
  font-weight: 300;
}

.details-modal{
  padding: 50px;
  text-align: center;
}

.details-modal img{
  width: 50% !important;
  margin: auto;
}

.post-user-name{
  font-weight: 200;
  display: inline-block;
}

.profile-container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 20px;
}

.search-bar{
  display: grid;
  grid-template-columns: 1fr 12fr 2fr;
}

.searchIcon{
  text-align: right;
  font-size: 1.25em;
  padding-right: 15px;
  background: #f2f2f2;
  border-radius: 10px 0 0 10px;
}

.searchIcon svg{
  position: relative;
  top: 5px;
  left: -5px;
}

.search-bar input{
  border: 0;
  background: #f2f2f2;
  padding: 5px;
  border-radius: 0;
}

.search-bar input:focus, .search-bar input:active{
  outline: none;
  border: 0;
  box-shadow: none;
  background: #f2f2f2;
}

.search-bar button, .search-bar button:active, .search-bar button:focus{
  background: #212529 !important;
  border: 0 !important;
  border-radius: 0 5px 5px 0;
  outline: none;
  box-shadow: none;
}

.search-bar button:hover{
  background: #212529;
}

/*.uploadedImages{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 15px;
}
*/
.uploadedImages img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.post-head, .post-foot{
  padding: 20px;
}

.post-head{
  margin-bottom: 0px;
}

.tags-list{
/*  margin-bottom: 50px;
  padding: 15px;
  padding-top: 0;*/
}

.content-container .load-wrap{
    height: 100vh;
}

.load-wrap{
  width: 100%;
  text-align: center;
  height: 200px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.post h5{
  color: white;
  font-weight: 800;
  font-size: 1.5em;
}

.post-user-name{
  font-weight: 600;
}

.postTime{
  /*font-weight: 200;*/
  opacity: 0;
  font-size: .7em;
}

.post-foot{
  color: white;
  position: relative;
  top: 90%;
  margin-bottom: 15px;
}

.imgOverlay{
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background: transparent;
  /*background-image: linear-gradient(180deg, #3c3c3c36, transparent);*/
  transition: 0.25s ease;
  -webkit-transition: background .25s ease;  
}

.imgOverlay-hov{
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background-color: rgba(0,0,0,.4);
  transition: 0.25s ease;
  -webkit-transition: background .25s ease-in;
}

.imgOverlay-hov .tags-list{
  display: none !important;
}

.imgOverlay .post-foot, .imgOverlay .tags-list{
  transform: scale(0);
  transition: 0.25s ease;
}

.imgOverlay-hov h5, .imgOverlay-hov .post-foot{
  transform: scale(1);
  transition: 0.25s ease;
}

.project-container{
  min-height: 100vh;
}

a{
  color: inherit !important;
  text-decoration: none !important;
}

.back-link{
  margin-bottom: 40px;
}

.project-image{
  width: 100%;
  border-radius: 5px;
  display: block;
}

.project-time{
  display: inline;
  font-weight: 300;
  opacity: 0.5;
}

/*doesn't work*/
/*.post-loading{
  transform: scale(0);
  transition: 1s ease;
}

.post-loaded{
  transform: scale(1);
  transition: 1s ease;
}*/

.project-title, .profile-user-display-name{
  font-weight: 900;
}

.feed-nav-underline {
    width: 95px;
    background: #202429;
    height: 5px;
    margin-top: 5px;
    position: relative;
    transition: 0.5s ease;
}

.feed-nav-underline.feed-nav-underline-Featured {
    left: 0;
    width: 95px;
}

.feed-nav-underline.feed-nav-underline-All {
    left: 130px;
    width: 35px;
}

.feed-nav-underline.feed-nav-underline-Search {
    left: 200px;
    width: 78px;
}

.feed-nav{
  margin-bottom: 30px;
}

.feed-nav-list {
    display: flex;
    width: 275px;
    justify-content: space-between;
    font-size: 1.25em;
    font-weight: 800;
}

.feed-nav-list a{
  cursor: pointer;
}

.nav-spacer{
  background: white;
}

.nav-spacer2 {
    background: #f1f1f1;
    width: 100%;
    height: 100%;
}
 
.active + .nav-spacer>.nav-spacer2{
  border-radius: 0 0 0 50px;
  transition: 0.15s ease;
  /*background: red !important;*/
}

svg{
  user-select: none;
}

button[type='submit'], button[type='submit']:hover, button[type='submit']:active, button[type='submit']:focus{
 background: #212529 !important;
 border: 0;
 outline: none;
 box-shadow: none;
}

.add-title{
  font-weight: 800;
  margin-bottom: 30px;
}

form label{
  font-weight: 800;
}

#addProjectForm input, #addProjectForm textarea{
  border-radius: 50px;
}

#addProjectForm textarea{
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.form-group-one-line{
  /*display: flex;*/
  margin-top: 20px;
  margin-bottom: 20px;
}

.add-tag-button{
  background: #212529 !important;
  border-radius: 100px !important;
  color: white !important;
  margin-left: 10px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
     border-color: #212529 !important; 
    outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgba(33, 37, 41, 0.05) !important;
}

.form-flex{
  display: flex;
  justify-content: flex-start;
}

input[type="checkbox"] {
    margin-right: 10px;
    margin-top: 3px;
}

label[for='forclass']{
  cursor: pointer;
  user-select: none;
}

.DraftEditor-root{
    position: relative;
    border: solid 1px #d6dbe0;
    padding: 20px;
    border-radius: 40px;
    height: 300px !important;
    margin-bottom: 25px;
}

.rdw-editor-toolbar {
    border: 0 !important;
}

.rdw-editor-main {
    overflow: visible !important;
}

.rdw-option-wrapper {
    border: 0 !important;
}

.rdw-dropdown-wrapper {
    border-radius: 20px !important;
}

.rdw-dropdown-optionwrapper {
    overflow-y: visible !important; 
    border-radius: 20px !important;
    overflow: show !important;
}

.rdw-dropdownoption-active {
    background: #f5f5f5;
    border-radius: 30px !important;
}

.rdw-dropdownoption-highlighted {
    background: #f5f5f5;
    border-radius: 30px !important;
}

.project-grid-container {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 1fr 2fr;
}

.project-summary{
  margin-top: 15px;
}

.project-body-writeup{
  margin-top: 20px;
}

.project-body-writeup a{
  color: dodgerblue !important;
}
